@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}


.main{
    width: 100%;
    height: 100vh;
    background-color:#6482AD;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 200px;
}

.pic{
    background: url(/Photos/Marvel/heroic-captain-america-art-wallpaper.jpg);
    width: 400px;
    height: 60vh;
    flex-basis: 50vw;
    background-position:top;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;


}
.content{
    background-color: #134B70;
    height: 50vh;
    flex-basis: 50vw;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.content h1{
    color: white;
    text-align: center;
    font-size: 50px;
}

.content h3{
    color: rgb(13, 201, 230);
    font-style: oblique;
    text-align: center;
    margin-top: 5px;
    font-size: 25px;
}

.content p{
    color: white;
    margin-top: 10px;
    text-align:justify;
    padding:10px 15px;

}